location /static/ {
  alias /home/app/web/backend/static/;
  add_header Access-Control-Allow-Origin *;
}

location /media/ {
  alias /home/app/web/backend/media/;
  add_header Access-Control-Allow-Origin *;
}