version: "3.8"

services:
  django:
    container_name: backend
    build:
      context: {{backend_dir}}/backend
      dockerfile: Dockerfile.prod
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --error-logfile /home/app/web/log/error.log"
    restart: always
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
    expose:
      - 8000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - {{envs_dir}}/.env.django.prod

  redis:
    container_name: redis
    image: redis:alpine
    restart: always

  celery:
    container_name: celery
    build: 
        context: {{backend_dir}}/backend
        dockerfile: Dockerfile.prod
    command: celery -A backend worker --loglevel=debug --concurrency=4 -l info
    restart: always
    volumes:
        - .:/usr/src/app
        - static_volume:/home/app/web/static
        - media_volume:/home/app/web/media
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
        - {{envs_dir}}/.env.django.prod
    depends_on:
        - django
        - redis

  celery-beat:
    container_name: celery-beat
    build: 
        context: {{backend_dir}}/backend
        dockerfile: Dockerfile.prod
    command: celery -A backend beat -l info
    restart: always
    volumes:
        - .:/usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
        - {{envs_dir}}/.env.django.prod
    depends_on:
        - django
        - redis

  nuxtjs:
    container_name: frontend
    build:
      context: {{frontend_dir}}
      dockerfile: Dockerfile.prod
    command: npm start
    restart: always
    expose:
      - 3000
    env_file:
      - {{envs_dir}}/.env.nuxtjs.prod
    depends_on:
      - django

  nginx-proxy:
    container_name: nginx-proxy
    build: {{bootstrap_dir}}/nginx
    restart: always
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
      - certs:/etc/nginx/certs
      - html:/usr/share/nginx/html
      - vhost:/etc/nginx/vhost.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      - 443:443
      - 80:80
    depends_on:
      - nuxtjs

  nginx-proxy-letsencrypt:
    container_name: letsencrypt
    image: jrcs/letsencrypt-nginx-proxy-companion:2.2
    restart: always
    env_file:
      - {{envs_dir}}/.env.proxy.prod
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs
      - html:/usr/share/nginx/html
      - vhost:/etc/nginx/vhost.d
      - acme:/etc/acme.sh
    depends_on:
      - nginx-proxy

volumes:
  static_volume:
  media_volume:
    external: true
  certs:
  html:
  vhost:
  acme:
