version: "3.8"

services:
  django:
    container_name: backend
    image: cr.selcloud.ru/basic/aviatx_backend:{{repos.backend_branch}}
    command: sh -c "cd backend && python manage.py collectstatic --noinput && python manage.py migrate && gunicorn backend.wsgi:application -c backend/gunicorn_wsgi.conf.py"
    restart: always
    volumes:
      - static_volume:/home/app/web/backend/static
      - media_volume:/home/app/web/backend/media
    expose:
      - 8000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - {{envs_dir}}/.env.django.prod

  django-asgi:
    container_name: backend-asgi
    image: cr.selcloud.ru/basic/aviatx_backend:{{repos.backend_branch}}
    command: sh -c "cd backend && python manage.py collectstatic --noinput && gunicorn backend.asgi:application -c backend/gunicorn_asgi.conf.py"
    restart: always
    volumes:
      - static_volume:/home/app/web/backend/static
      - media_volume:/home/app/web/backend/media
    expose:
      - 8001
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - {{envs_dir}}/.env.django.asgi.prod
    depends_on:
      - django

  redis:
    container_name: redis
    image: redis:alpine
    restart: always
{% if _redis_password %}
    command: redis-server --requirepass {{_redis_password}}
{% endif %}

  celery:
    container_name: celery
    image: cr.selcloud.ru/basic/aviatx_backend:{{repos.backend_branch}}
    command: sh -c "cd backend && celery -A backend worker --loglevel=debug --concurrency=4 -l info"
    restart: always
    volumes:
        - .:/usr/src/app
        - static_volume:/home/app/web/backend/static
        - media_volume:/home/app/web/backend/media
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
        - {{envs_dir}}/.env.django.prod
    depends_on:
        - django
        - django-asgi
        - redis

  celery-beat:
    container_name: celery-beat
    image: cr.selcloud.ru/basic/aviatx_backend:{{repos.backend_branch}}
    command: sh -c "cd backend && celery -A backend beat -l info"
    restart: always
    volumes:
        - .:/usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
        - {{envs_dir}}/.env.django.prod
    depends_on:
        - django
        - django-asgi
        - redis

  nuxtjs:
    container_name: frontend
    image: cr.selcloud.ru/basic/aviatx_frontend:{{repos.frontend_branch}}
    command: npm start
    restart: always
    expose:
      - 3000
    env_file:
      - {{envs_dir}}/.env.nuxtjs.prod
    depends_on:
      - django
      - django-asgi

  docker-socket-proxy:
    container_name: docker-socket-proxy
    image: tecnativa/docker-socket-proxy:latest
    restart: always
    environment:
      CONTAINERS: 1
      EVENTS: 1
      INFO: 1
      POST: 0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - socket-proxy

  nginx-proxy:
    container_name: nginx-proxy
    build: {{bootstrap_dir}}/nginx
    restart: always
    environment:
      DOCKER_HOST: tcp://docker-socket-proxy:2375
    volumes:
      - static_volume:/home/app/web/backend/static
      - media_volume:/home/app/web/backend/media
      - {{ssl_certs_dir}}:/etc/nginx/certs:ro
      - html:/usr/share/nginx/html
      - vhost:/etc/nginx/vhost.d
    ports:
      - 443:443
      - 80:80
    depends_on:
      - nuxtjs
      - docker-socket-proxy
    networks:
      - default
      - socket-proxy

  zabbix-agent:
    container_name: zabbix-agent
    image: zabbix/zabbix-agent2:ubuntu-7.0-latest
    restart: always
    pid: host
    env_file:
      - {{envs_dir}}/.env.zabbix.prod
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    network_mode: host

volumes:
  static_volume:
  media_volume:
    external: true
  html:
  vhost:

networks:
  default:
  socket-proxy:
    internal: true
